body{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    line-height: 5rem ;
    margin-top: 0%;
 }
.box{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-left: 300px;
    margin-top: 3rem;
    border: 2px dotted black;
    opacity: initial;
  
   
}
.box:hover{
    cursor: pointer;
    background-color: rgb(11, 10, 10);
 
}
img{
    height: 190px;
    width: 190px;
    object-fit: cover;
    border-radius: 50%;
    gap: 2rem;

}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 5rem;
}


#comp-score,
#your-score{
    font-size: 4rem;

}
.score-container{
    font-size: 4rem;
    margin-right: 50px;
}
.msg-container{
    margin-top: 2rem;
}
#msg{ 
    margin-top: 5rem;
    background-color: black;
    color: white;
    height: 5rem;
    font-size: 5rem;
    display: inline;
   margin-left: 650px;
   border-radius:1rem;
   padding:1rem;
}